.footer {
    bottom: 0;
    height: 30px;
    left: 0;
    position: fixed;
    text-align: center;
    width: 100%;
}

.footer-text {
    padding-top: 6px;
}

.normal-font {
    font-size: 16px;
}

.small-font {
    font-size: 15px;
}

.very-small-font {
    font-size: 12px;
    padding-top: 8px;
}