@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap%27');

:root {
  --bg-primary-head: #2196f3;
  --bg-primary-head-dark: #424242;
  --bg-primary-body: white;
  --bg-primary-body-dark: #303030;
  --text: rgba(256, 256, 256, 0.9);
}

html, body {
  height: 100%;
  margin: 0px;
}

body {
  background-color: var(--bg-primary-body);
  color: var(--text);
  font-family: 'Roboto', sans-serif;
}

.container {
  margin: auto;
}